@import "bootstrap";
@import "font-awesome";

body {
    font-family: 'Times New Roman', Times, serif, 'Courier New', Courier, monospace;
    background-color: rgb(255, 249, 242);
    color: #4a3a21!important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-brand {
    color: #d15f8b!important;
    margin-right: 1rem;
    font-size: 3rem;
    text-decoration: none;
    white-space: nowrap;
}

.page-header {
  text-align: center;
  margin-top: 2%;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}


li {
  list-style: none;
}

a {
    color: #933358!important;
    text-decoration: none;
}

a:hover {
    color: #6ca05d!important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    border-top: medium double rgb(39, 39, 39);
    color: rgb(39, 39, 39);
    text-align: center;
}
hr:after {
    content: "❁";
    background-color: rgb(255, 249, 242);
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.30em;
}

.hero-image {
    background-image: url(curly-tribble-cut.jpg);
    padding-top: 17.5%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-us {
    text-align: center;
    padding: 1%;
}

.about-us-paragraph {
    background: rgb(255, 255, 255);
    border-radius: 5%;
    font-size: 1.5rem;
    box-shadow: 0px 11px 15px 2px rgba(151,151,151,0.54);
    width: 50%; 
    height: 25%;
    margin-top: 2%;
    margin-left: 25%;
    margin-bottom: 10%;
    padding: 5%;
    text-align: center;
}


footer {
    background-image: url(strawberry.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-size: 33vw, 34vh;
}

.article-card {
    text-decoration: none;
    text-align: center;
    background-image: url(flower.jpg);
    padding: 5%;
    margin-bottom: 5%;
    box-shadow: 0px 11px 15px 2px rgba(151,151,151,0.54);
}

.user-card {
    text-decoration: none;
    text-align: center;
    background-image: url(flower.jpg);
    padding: 5%;
    margin-bottom: 5%;
    box-shadow: 0px 11px 15px 2px rgba(151,151,151,0.54);
}

form {
    margin-left: 20%;
    padding: 5%;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] input[type=body] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Add a hover effect for buttons */
  input:hover {
    opacity: 0.7;
  }

  /* Add padding to containers */
  .container-form {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

@media screen and (max-width: 768px) {
    footer{
        background-image: none!important;
    }
      
}