* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

body {
    font-family: cursive;
    background-image: url(brooke-lark-pGM4sjt_BdQ-unsplash.jpg);

   }

.logo {
    font-size: 32px;
    color: rgb(250, 249, 240);
    background: linear-gradient(90deg, rgba(158,198,215,1) 0%, rgb(240, 248, 250) 50%, rgba(158,198,215,1) 100%);    font-weight: 700;
    letter-spacing: 1px;
   }

.menu li:hover {
    background-color: #e5bcf1;
    border-radius: px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 7px;
}

li {
    list-style: none;
}

.nav-item {
    text-decoration: none;
    letter-spacing: 1px;
    float: right;
    background-color: rgb(237, 216, 253);
    float: left; 
    width: 25%;
    text-align:center;
}

a {
    text-decoration: none;
    color: rgb(9, 60, 80);
   }


.page-header {
    margin-top: 10%;
    text-align: center;
    font-size: 3rem;
    color: rgb(250, 249, 240);
    font-weight: 700;
    letter-spacing: 1px;
}

.card {
    box-shadow: 0 4px 8px 0 rgb(223, 148, 204);
    background-color: rgb(250, 249, 240);
    transition: 0.3s;
    text-align: center;
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px 50px 30px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(146, 196, 230, 0.938);
}

.container {
    padding: 2px 16px;
}

.column {
    float: left;
    padding: 0 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.article-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    background-color: rgb(250, 249, 240);
    border-radius: 15px 50px 30px;
    height: 12vh;
    margin-top: 2%;
    width: 50%;
    font-size: 1.8rem;
}

.btn {
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: block;
    border-radius: 10%;
}

.btn:hover{
    background-color: #e5bcf1;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20%;
    }
  }


