
<div>
  <footer class="text-center text-lg-start" style="background-color: #B0C0AC;">
    <div class="container d-flex justify-content-center py-4">
      
    </div>

    <!-- Copyright -->
  <div style="text-align: center;">
    <div class="col-md-6 mt-md-0 mt-3">
      <div class="text-light text-uppercase font-weight-bold">
        <p>Opening Times - Mon-Fri: 9am-5:30pm
        Sat-Sun: 9am-6pm</p>
      </div>
      <div class="text-light text-uppercase font-weight-bold">
        <p>Contact us - 061-4986</p>
      </div>
    </div>
    <hr class="clearfix w-100 d-md-none pb-3">
    <div class="col-md-6 mb-md-0 mb-3" style="text-decoration: underline;">
      <a class="text-light text-uppercase font-weight-bold" href="/articles">
        Articles
      </a>
    </div>
    <div class="text-center text-light p-3">
      © 2022 Copyright:
      <a class="text-light" href="https://github.com/rebecca-tubridy/">Rebecca Tubridy</a>
    </div>
  </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->