
<div>
  <footer class="text-center text-lg-start" style="background-color: #B0C0AC;">
    <div class="container d-flex justify-content-center py-5">
      
    </div>

    <!-- Copyright -->
    <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-light" href="https://github.com/rebecca-tubridy/">Rebecca Tubridy</a>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->