
<div>
  <footer class="text-center text-lg-start" style="background-color: #B0C0AC;">
    <div class="container d-flex justify-content-center py-5">
      
    </div>

    <!-- Copyright -->
    <div class="text-light">
      <p>Opening Times -</p>
      <p>Mon-Fri: 9am-5:30pm</p>
      <p>Sat-Sun: 9am-6pm</p>
    </div>
    <div class="text-light">
      <p>Contact us - 061-4986</p>
    </div>
    <div>
      <a class="text-light" href="/articles">
        Articles
      </a>
    </div>
    <div>
      <p>
        <a class="nav-link text-light" href="/articles">
      </p>
    <div class="text-center text-light p-3">
      © 2022 Copyright:
      <a class="text-light" href="https://github.com/rebecca-tubridy/">Rebecca Tubridy</a>
    </div>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->