<div class="container-fluid">
  <div class="logo">Curly-Tribble</div>
  <div class="menu">
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link active" href="/">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/new">
            Register
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles">
            Articles
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>