<div class="container-fluid">
<div class="logo">Curly-Tribble</div>
    <nav class="navbar">
        <ul class="nav-links">
        <nav class="navbar">
            <ul class="nav-list">
                <div class="menu">
                    <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/users/new">Register</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/articles">Articles</a>
                    </li>
                </div>
            </ul>
        </nav>
        </div>
        </ul>
    </nav>
</div>