<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid text-light">
   <h1>
      <a class="navbar-brand" href="/">Curly-Tribble</a>
    </h1>
    
      <div class="collapse navbar-collapse" id="navbarNav">
        <ol class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/">
              Home
            </a>
          </li>
          <li class="nav-item text-light">
            <% if current_user %>
              <a class="nav-link" href="/logout">
                Logout
              </a>
            <li class="nav-item">
              <a class="nav-link" href="/users/"> 
                Profiles
              </a>
            </li>
            <% else %>   
              <a class="nav-link" href="/login">
                Login
              </a>
          <li class="nav-item">
             <a class="nav-link" href="/users/new">
                Register
            </a>
          </li>
          <% end %>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/articles">
              Articles
            </a>
          </li>
        </ol>
    </div>
  </div>
  <% if current_user %>
    <h6 class="small"> Welcome back <strong><%= current_user.first_name %>!</strong></h4>
    <% else %>
    <p class="small">Not a memeber yet?  <%= link_to 'Register', new_user_path %>
    or 
    <%= link_to 'Login', login_path %></p>
  <% end %>
</nav>
<div class="hero-image"></div>