<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Curly-Tribble</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ol class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/">
              Home
            </a>
          </li>
          <li class="nav-item">
            <% if current_user %>
              <a class="nav-link" href="/logout"> 
                Logout
              </a>
            <% else %>   
              <a class="nav-link" href="/login">
                Login
              </a>
          <li class="nav-item">
             <a class="nav-link" href="/users/new">
                Register
            </a>
          </li>
          <% end %>
          </li>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="/users/show"> 
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/articles">
              Articles
            </a>
          </li>
        </ol>
    </div>
  </div>
</nav>